.message-div {
    display: flex;
    justify-content: flex-start;
    margin: 4px 13px;
}

.message {
    background: #cbe7bc;
    padding: 7px 9px;
    border-radius: 3px;
    max-width: 50%;
    color: #202020;
    font-size:14.5px;
}

.message:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
  }
  
.video-message {
    width: 30vh;
}

.big-image {
    width: 40vh;
    height: 40vh;
}

.message-not-mine {
    background: #ffffff;
    padding: 7px 9px;
    border-radius: 3px;
    max-width: 50%;
    color: #202020;
    font-size:14.5px;
}

.message-div-end {
    display: flex;
    justify-content: flex-end;
    margin: 4px 13px;
}

.link {
    text-decoration: none;
    color: black;
}

.file-image {
    height: 6vh;
    width: 6vh;
}

.file-div {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 30vh;
    max-width: 30vh;
}

.name-div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 2vh;
    font-size: 2.5vh;
    word-wrap:break-word;
    max-width: 25vh;
}

.file-ext {
    position: absolute;
    left: 0.3vh;
    top: 0.4vh;
    color: white;
    font-weight: bold;
    font-size:1.6vh;
}