.message-div {
    display: flex;
    justify-content: flex-start;
    margin: 4px 13px;
}

.message {
    background: #cbe7bc;
    padding: 7px 9px;
    border-radius: 3px;
    max-width: 50%;
    color: #202020;
    font-size:14.5px;
}

.message:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
  }
  
.video-message {
    width: 30vh;
}

.picture-modal-class {
    height: 85vh;
    min-width: 45vw;
}

.picture-modal-width {
    min-width: 45vw;
}

.centered-div {
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
    margin-left: 0;
    margin-top: 0;
}


.big-image-field {
    width: auto;
    height: auto;
    max-width: 90vw;
    max-height: 90vh;
}

.message-not-mine {
    background: #ffffff;
    padding: 7px 9px;
    border-radius: 3px;
    max-width: 50%;
    color: #202020;
    font-size:14.5px;
}

.photo {
    width: auto !important;
    height: auto !important;
    max-height: 30vh;
    max-width: 30vw;
}
.message-div-end {
    display: flex;
    justify-content: flex-end;
    margin: 4px 13px;
}

.link {
    text-decoration: none;
    color: black;
}

.file-image {
    height: 6vh;
    width: 6vh;
}

.file-div {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 39vh;
    max-width: 39vh;
}

.name-div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 2vh;
    font-size: 2.1vh;
    word-wrap:break-word;
    max-width: 34vh;
}

.file-ext {
    position: absolute;
    left: 0.3vh;
    top: 0.4vh;
    color: white;
    font-weight: bold;
    font-size:1.6vh;
}