.contact {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    border-bottom: 1.5px solid #f4f4f4;
    background: white;
    cursor: pointer;
    width: 100% !important;
    padding: 14px 11px !important;
    text-align: left;
}


.user-image {
    width: 39px;
    height: 39px;
    border-radius: 50%;
}

.contact-info {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    margin: 0 11px !important;
}

.contact-name {
    width: 100%;
    font-size: 17px;
    color: black !important;
    text-align: left;
    padding-left: 7px;
    padding-top: 2px;
}

.message {
    width: 100%;
    font-size:15px;
    margin-top: 2.5px;
    color:rgba(0,0,0,0.4);
}

.time-sent {
    font-size: 12.5px;
    margin-right: 9px;
    color: rgba(0,0,0,0.41);
    white-space: nowrap;
}