.container {
    display: flex !important;
    flex: 1.55 !important;
    flex-direction: column !important;
    height: 100% !important;
    width: 100% !important;
    float: left;
}

.profile {
    flex-direction: row;
    display: flex;
    background: #ebecec;
    padding: 8px;
}

.user-image {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.search-box {
    background: #f2f2f2;
    padding: 8px;
}

.search-container {
    background: white;
    border-radius: 17px;
    width: 100%;
    padding: 4px 11px;
    display: flex;
    flex-direction: row;
}

.search-icon {
    width: 27px;
    height: 27px;
}

.search-textbox {
    width: 100%;
    outline: none;
    font-size: 14px;
    border: none;
}

.nickname{
    padding-left: 10px;
    font-size: 17px;
}