.message-div {
    display: flex;
    /*here it should be flex-end if it's not mine - props.isMine*/
    justify-content: flex-start;
    margin: 4px 13px;
}


.message-div-end {
        display: flex;
        /*here it should be flex-end if it's not mine - props.isMine*/
        justify-content: flex-end;
        margin: 4px 13px;
}

.message {
    /*if props.isMine=False, background should be white*/
    background: #cbe7bc;
    padding: 7px 9px;
    border-radius: 3px;
    max-width: 50%;
    color: #202020;
    font-size:14.5px;
}

.message-not-mine {
    /*if props.isMine=False, background should be white*/
    background: #ffffff;
    padding: 7px 9px;
    border-radius: 3px;
    max-width: 50%;
    color: #202020;
    font-size:14.5px;
}
.message:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
  }
  
.video-message {
    width: 30vh;
}

.big-image {
    width: 40vh;
    height: 40vh;
}